In [1]:
#Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.


print("ANSWER:-   Select FIRST_NAME AS WORKER_NAME from Worker;  ")

ANSWER:-   Select FIRST_NAME AS WORKER_NAME from Worker;

In [2]:
#Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.


print("ANSWER:-   Select distinct DEPARTMENT from Worker;  ")

ANSWER:-   Select distinct DEPARTMENT from Worker;

In [3]:
#Q-3. Write an SQL query to show the last 5 record from a table.



print("""ANSWER:-   
(SELECT * FROM <table_name> ORDER BY <id_column> DESC LIMIT <no. of rows to retrieve>)
 ORDER BY <id_column> ASC;



(SELECT * FROM Employee ORDER BY ID DESC LIMIT 5)
 ORDER BY ID ASC;""")

ANSWER:-
(SELECT * FROM <table_name> ORDER BY <id_column> DESC LIMIT <no. of rows to retrieve>)
 ORDER BY <id_column> ASC;



(SELECT * FROM Employee ORDER BY ID DESC LIMIT 5)
 ORDER BY ID ASC;