In [1]:
#Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.





print("""ANSWER:-  Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;  """)

ANSWER:-  Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;

In [2]:
#Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.





print("""ANSWER:-   SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*)
                    FROM Title
                    GROUP BY WORKER_TITLE, AFFECTED_FROM
                    HAVING COUNT(*) > 1;  """)

ANSWER:-   SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*)
                    FROM Title
                    GROUP BY WORKER_TITLE, AFFECTED_FROM
                    HAVING COUNT(*) > 1;

In [3]:
#Q-3. How to remove duplicate rows from Employees table.





print("""ANSWER:-  DELETE FROM DETAILS WHERE SN NOT IN (
                    SELECT MAX(SN) FROM DETAILS GROUP BY EMPNAME,DEPT,CONTACTNO,CITY)  """)

ANSWER:-  DELETE FROM DETAILS WHERE SN NOT IN (
                    SELECT MAX(SN) FROM DETAILS GROUP BY EMPNAME,DEPT,CONTACTNO,CITY)