In [1]:
#Q-13. Write an SQL query to show only odd rows from aÂ table.

print("""ANSWER:-  SELECT * FROM table_name WHERE mod(column_name,2) = 0;  """)

ANSWER:-  SELECT * FROM table_name WHERE mod(column_name,2) = 0;

In [2]:
#Q-14. Write an SQL query to clone a new table from another table.

print("""ANSWER:-  1)    CREATE TABLE new_table LIKE original_table;
                   2)    CREATE TABLE new_table LIKE original_table;
INSERT INTO new_table SELECT * FROM original_table;""")

ANSWER:-  1)    CREATE TABLE new_table LIKE original_table;
                   2)    CREATE TABLE new_table LIKE original_table;
INSERT INTO new_table SELECT * FROM original_table;