In [1]:
#Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.



print("""ANSWER:-  Select RTRIM(FIRST_NAME) from Worker;  """)

ANSWER:-  Select RTRIM(FIRST_NAME) from Worker;

In [2]:
#Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length

print("""ANSWER:-   Select distinct length(DEPARTMENT) from Worker;  """)

ANSWER:-   Select distinct length(DEPARTMENT) from Worker;

In [3]:
#Q-3. Write an SQL query to fetch nth max salaries from a table.




print("""ANSWER:-   SELECT distinct Salary from worker a WHERE n >= (SELECT count(distinct Salary) from worker b WHERE a.Salary <= b.Salary) order by a.Salary desc;  """)

ANSWER:-   SELECT distinct Salary from worker a WHERE n >= (SELECT count(distinct Salary) from worker b WHERE a.Salary <= b.Salary) order by a.Salary desc;