In [1]:
#Q-17.  Write an SQL query to show the top n (say 10) records of a table.


print("""ANSWER:-    SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;

                    SELECT TOP 10 * FROM Worker ORDER BY Salary DESC;
                    
                    
                    SELECT * FROM (SELECT * FROM Worker ORDER BY Salary DESC)
WHERE ROWNUM <= 10;""")

ANSWER:-    SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;

                    SELECT TOP 10 * FROM Worker ORDER BY Salary DESC;


                    SELECT * FROM (SELECT * FROM Worker ORDER BY Salary DESC)
WHERE ROWNUM <= 10;

In [2]:
#Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.



print("""ANSWER:-    SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT n-1,1;



                    SELECT TOP 1 Salary
                    FROM (
                     SELECT DISTINCT TOP n Salary
                     FROM Worker 
                     ORDER BY Salary DESC
                     )
                    ORDER BY Salary ASC;""")

ANSWER:-    SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT n-1,1;



                    SELECT TOP 1 Salary
                    FROM (
                     SELECT DISTINCT TOP n Salary
                     FROM Worker
                     ORDER BY Salary DESC
                     )
                    ORDER BY Salary ASC;